/.DS_Store
/2-Scraping.py
/29-Fbref Scraping.py
/3-Shot Map Player.py
/30-Understat Shot.py
/31-Shots Faced vs Quality.ipynb
/36-xG Line.py
/38-Field Tilt.py
/41-Pizza Plot.py
/43-Plotly.py
/8-xG vs xGA.py
/9-xG Lollipop.py
/__pycache__
/output.png