/.DS_Store
/2-Scraping.py
/29-Fbref Scraping.py
/3-Shot Map Player.py
/30-Understat Shot.py
/31-Shots Faced vs Quality.ipynb
/36-xG Line.py
/38-Field Tilt.py
/41-Pizza Plot.py
/43-Plotly.py
/8-xG vs xGA.py
/9-xG Lollipop.py
/__pycache__
/output.png




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
